.topbar {
  height: 64px;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.title {
  font-size: 20px;
  font-weight: bold;
}
